// Minimal Java security permissions required by the VOLANO applets

// For running the NetBeans-compiled applets with the appletviewer.
// Set this policy in the appletviewer with:
//   appletviewer -J-cp -Jbuild/classes -J-Djava.security.policy==security/file.policy build/VolanoChat.html

grant codeBase "file:build/classes/" {
    // For creating thread groups
    permission java.lang.RuntimePermission "modifyThreadGroup";

    // Permissions normally granted to all applets
    permission java.util.PropertyPermission "java.vendor", "read";
    permission java.util.PropertyPermission "java.vendor.url", "read";
    permission java.util.PropertyPermission "java.version", "read";
    permission java.util.PropertyPermission "java.class.version", "read";
    permission java.util.PropertyPermission "os.name", "read";
    permission java.util.PropertyPermission "os.version", "read";
    permission java.util.PropertyPermission "os.arch", "read";

    // For loading the alert sound audio clip over HTTP
    permission java.net.SocketPermission "localhost:8080", "connect,resolve";
    permission java.net.SocketPermission "ip6-localhost:8080", "connect,resolve";

    // For loading the button, logo, and banner images over HTTP
    permission java.net.URLPermission "http://localhost:8080/vcclient/*", "*:*";
    permission java.net.URLPermission "http://127.0.0.1:8080/vcclient/*", "*:*";
    permission java.net.URLPermission "http://ip6-localhost:8080/vcclient/*", "*:*";
    permission java.net.URLPermission "http://[::1]:8080/vcclient/*", "*:*";

    // For setting thread priorities
    permission java.lang.RuntimePermission "modifyThread";

    // For connecting to the chat server
    permission java.net.SocketPermission "localhost:8000", "connect,resolve";
    permission java.net.SocketPermission "ip6-localhost:8000", "connect,resolve";
};
